.dub
docs.json
__dummy.html
docs/
/describe
describe.so
describe.dylib
describe.dll
describe.a
describe.lib
describe-test-*
*.exe
*.o
*.obj
*.lst
.trial
trial-root
dub.selections.json
trial_root.d
describe-d-test-trial
libdescribe-d.a
describe-d-test-unittest